<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="LocalUserAllowedIPAddresses" xdt:Transform="Replace" xdt:Locator="Match(key)" value="127.0.0.1, 192.168.*.*" />
    <add key="LogoFile" xdt:Transform="Replace" xdt:Locator="Match(key)" value="logo_absence.png"/>
    <add key="ApplicationName" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Frånvarohantering statistik"/>
  </appSettings>
</configuration>