<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://sof-rapporter.previa.se" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="403.htm" responseMode="File" />
        </httpErrors>
        <httpRedirect enabled="false" destination="https://sof-rapporter.previa.se/ExtranetUserAuthentication/" childOnly="true" />
    </system.webServer>
</configuration>
