<?xml version="1.0" encoding="utf-8" ?>
<previa.rest>
  <endpoints>
    <!-- DEBUG MODE
        Use this sessings when e.g. Fiddler (http://www.fiddler2.com/fiddler2/) is used as an proxy for debugging. (it's not possible to use the loopback interface with Fiddler so we need
        to use some other endpoint besides of localhost).-->

    <!--<add name="extranetUserAuthentication"
         username="ExtranetAuth"
         password="password"
         serviceBaseUri="https://apps-local.ad.previa.net/ExtranetUserAuthentication.Server/"
         proxyHost="127.0.0.1"
         proxyPort="8888" />

    <add name="qlikViewTicketServer"
         serviceBaseUri="http://84.17.218.153/"
         proxyHost="127.0.0.1"
         proxyPort="8888" />-->

    <!-- NORMAL MODE -->

    <add name="extranetUserAuthentication"
     username="ExtranetAuth"
     password="password"
     serviceBaseUri="https://apps-local.ad.previa.net/ExtranetUserAuthentication.Server/" />

    <add name="extranetIdentityMapping"
         username="ExtranetAuth"
         password="password"
         serviceBaseUri="https://apps-local.ad.previa.net/ExtranetIdentityMapping.Server/" />

    <add name="qlikViewTicketServer"
         serviceBaseUri="http://192.168.1.70/" />

  </endpoints>
</previa.rest>
